* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(3, 10, 82);
  /* background: radial-gradient(
    30% rgb(3, 4, 114),
    50%rgb (3, 19, 165),
    80%rgb (6, 39, 228)
  ); */
}
/* logo image */
.img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  box-shadow: 2px 3px 5px black;
  border-color: aliceblue;
}
/* user name input box  */
#userName {
  background-color: rgb(211, 230, 247);
  padding: 10px;
  margin: 20px 0px;
  border-radius: 4px;
  border: 1px solid black;
}
.enter-btn {
  background-color: rgb(14, 97, 221);
  font-family: cursive;
  font-size: 16px;
  font-weight: 600;
  padding: 2px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: aliceblue;
  letter-spacing: 1px;
  text-shadow: 1px 2px 2px rgb(12, 1, 1);
}
/* main quiz content  */
.page {
  background: white;
  width: 90%;
  max-width: 700px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 5px 3px 4px rgb(93, 211, 109);
}
.user-details h1 {
  font-family: cursive;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
}
.category-section .selectQuizBtn {
  background-color: rgb(14, 97, 221);
  font-family: cursive;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin: 20px 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: aliceblue;
  letter-spacing: 1px;
  text-shadow: 1px 2px 2px rgb(12, 1, 1);
}
.category-section .selection {
  margin-top: 30px;
  text-shadow: 2px 3px 3px grey;
  color: rgb(14, 97, 221);
  font-family: cursive;
  font-weight: 600;
  font-size: 30px;
}
#quizPage #quizHeader #timer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  background-color: rgb(127, 175, 247);
  padding: 5px;
  border-radius: 4px;
  border: 2px solid rgb(14, 97, 221);
  box-shadow: 2px 3px 4px grey;
  margin-right: 20px;
}
#quizPage #quizHeader #score {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  background-color: rgb(127, 175, 247);
  padding: 5px;
  border-radius: 4px;
  border: 2px solid rgb(14, 97, 221);
  box-shadow: 2px 3px 4px grey;
  margin-right: 400px;
}
.catagoryTitle {
  margin-top: 30px;
  text-shadow: 2px 3px 3px grey;
  color: rgb(14, 97, 221);
  font-family: cursive;
  font-weight: 600;
  font-size: 30px;
}
.QuestionSerial {
  font-family: Arial, Helvetica, sans-serif;
}
.Questions {
  font-family: cursive;
  font-size: 20px;
  /* border: 2px solid black; */
}
.ansOptions {
  background-color: rgb(14, 97, 221);
  font-family: cursive;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin: 20px 5px 50px 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: aliceblue;
  letter-spacing: 1px;
  text-shadow: 1px 2px 2px rgb(12, 1, 1);
}
#prevQuestionBtn {
  background-color: rgb(14, 97, 221);
  font-family: cursive;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin: 20px 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: aliceblue;
  letter-spacing: 1px;
  text-shadow: 1px 2px 2px rgb(12, 1, 1);
}
#nextQuestionBtn {
  background-color: rgb(14, 97, 221);
  font-family: cursive;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin: 20px 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: aliceblue;
  letter-spacing: 1px;
  text-shadow: 1px 2px 2px rgb(12, 1, 1);
}
#resultPage #rslt {
  margin-top: 30px;
  text-shadow: 2px 3px 3px grey;
  color: rgb(14, 97, 221);
  font-family: cursive;
  font-weight: 600;
  font-size: 30px;
}
#resultPage h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0px;
}
#resultPage .result,
#resultName,
#totalTime,
#totalQuestions,
#attemptedQuestions,
#correctAnswers,
#wrongAnswers,
#scorePercentage {
  font-family: cursive;
  font-size: 20px;
}
.startAgainBtn,
.GoHomeBtn {
  background-color: rgb(14, 97, 221);
  font-family: cursive;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  margin: 20px 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  color: aliceblue;
  letter-spacing: 1px;
  text-shadow: 1px 2px 2px rgb(12, 1, 1);
}
